/*全体設定*/
@font-face {
  font-family: 'MainFont';
  src: url(data/MainFont.ttf);
}

@font-face {
  font-family: 'TitleFont';
  src: url(data/TitleFont.ttf);
}

@font-face {
  font-family: 'VarsionFont';
  src: url(data/VarsionFont.ttf);
}

@font-face {
  font-family: 'CodeFont';
  src: url(data/CodeFont.otf);
}

@font-face {
  font-family: 'CodeFontLight';
  src: url(data/CodeFontLight.otf);
}

body {
  background: #ffffff;
  font-family: MainFont;
  position: relative;
  z-index: 0;
  margin: 0;
  /* 範囲選択禁止 */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* スクロールバー非表示 */
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.center {
  text-align: center;
}

:focus {
  outline: none;
}

/*ローディング*/
#LoadingLayer {
  width: 100%;
  height: 100vh;
  font-family: MainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 60;
  background: #323232;
}

#loadingimage img {
  width: 30vw;
  animation: 2s linear infinite rotation1;
}

#loadingText {
  width: 30vw;
  color: #ffffff;
  font-size: 3vw;
  text-align: center;
}

@keyframes rotation1 {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(360deg);
  }
}

/*サポート外通知*/
#NoSupportLayer {
  width: 100%;
  font-family: MainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 50;
  background: #323232;
  overflow: auto;
}

#NoSupportLayer a {
  color: #ffffff;
}

#SupportList {
  color: #ffffff;
  text-align: center;
  position: relative;
}

#SupportList table {
  border-collapse: collapse;
}

#SupportList table th {
  height: 5vh;
  font-size: 3vh;
  font-weight: 900;
  vertical-align: bottom;
}

#SupportList table tr.top td {
  padding: 5px 5px;
  font-size: 2.5vh;
  font-weight: 900;
}

.errorTop {
  border-top: 0 !important;
  border-style: none !important;
  height: 7vh !important;
  vertical-align: top !important;
}

#SupportList table tr.underline td {}

#SupportList table td.OS {
  font-size: 2.2vh;
  font-weight: 900;
}

#SupportList table td {
  font-size: 2vh;
  height: 3vh;
  width: 20vw;
  border: 1px #ffffff solid;
}

/*タイトル画面*/
#TitleLayer {
  width: 100%;
  height: 100vh;
  font-family: MainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 40;
  background: #f0f0f0;
}

.Guide {
  position: absolute;
  right: 0;
  height: 5vw;
  top: 0;
  z-index: 51;
}

.Guide img {
  height: 100%;
  right: 1vw;
  top: 1vw;
  position: absolute;
}

#TitleLogo img {
  width: 80vw;
}

#Varsion {
  font-size: 5vw;
  font-family: VarsionFont;
  font-weight: 900;
  margin: 1vw 0;
}

#TitleButton {
  width: 90vw;
  text-align: center;
}

#StartButton {
  width: 30vw;
  outline: none;
  margin-bottom: 1vw;
}

#StartButton:hover {
  opacity: 0.8;
}

#status {
  font-family: MainFont;
  font-size: 2vw;
}

#status a {
  color: #000000;
}

/*コントローラー*/
#ControllerLayer {
  width: 100%;
  height: 100vh;
  font-family: MainFont;
  display: flex;
  position: absolute;
  z-index: 30;
  background: #f0f0f0;
}

#ControllTop {
  position: fixed;
  width: 100%;
  height: 10vw;
  top: 0;
  z-index: 31;
  background: #ffffff;
}

#Cbutton5 {
  position: absolute;
  width: 100%;
  height: 5vw;
  top: 0;
  z-index: 41;
}

#Cbutton5 img {
  margin-top: 1vw;
  margin-left: 1vw;
  height: 100%;
  width: auto;
}

.Left {
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  pointer-events: none;
}

.Center {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  position: absolute;
  pointer-events: none;
}

.Right {
  width: 100%;
  height: 100%;
  text-align: right;
  position: absolute;
  pointer-events: none;
}

.TopButton {
  height: 100%;
  outline: none;
  pointer-events: auto;
}

.TopButton:hover {
  opacity: 0.6;
}

#Cbutton2 {
  padding-left: 1vw;
  padding-right: 1vw;
}

#Cbutton3 {
  padding-left: 1vw;
  padding-right: 1vw;
}

#Volt {
  font-size: 6vw;
  font-weight: 900;
  font-family: MainFont;
  padding-top: 5px;
  display: table-cell;
  vertical-align: middle;
}

#Controller {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#Slider {
  position: relative;
}

#HorizontalSlider {
  position: absolute;
}

#Hslider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#VerticalSlider {
  position: absolute;
}

#Vslider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* コントローラースライダーのバー */
#Slider input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 3vw;
  width: 100%;
  background: #ff8a8a;
  border-radius: 10px;
  border: solid 3px #ffffff;
  pointer-events: none;
}

/* コントローラースライダーのつまみ */
#Slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #C2181F;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
}

#Slider input::-moz-range-thumb {
  background: #C2181F;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
  pointer-events: auto;
}

#Slider input::-moz-focus-outer {
  border: 0;
}

#Slider input:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

/*設定*/
#SettingLayer {
  width: 100%;
  height: 100vh;
  font-family: MainFont;
  font-size: 3vh;
  display: flex;
  position: absolute;
  z-index: 35;
  background: #f0f0f0;
}

#SettingList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#SettingList table {}

#SettingList table td {
  height: 6vh;
}

.col1 {
  width: 20vw;
}

.col2 {
  width: 10vw;
  font-weight: 900;
}

.Svalue {
  font-weight: 900;
}

.col3 {
  width: 50vw;
}

.col4 {
  width: 6vw;
}

.col5 {
  text-align: center;
}

.row1 {
  height: 10vh;
  font-size: 5vh;
  font-family: TitleFont;
  text-align: center;
  vertical-align: bottom;
}

.row2 {
  height: 5vh;
  font-size: 3vh;
  font-family: TitleFont;
  text-align: left;
  vertical-align: bottom;
}

.row3 {
  vertical-align: middle;
  height: 15vh;
}

.row4 {
  height: 1vh;
  font-size: 3vh;
  font-family: TitleFont;
  text-align: left;
  vertical-align: bottom;
}

.keySet {
  float: left;
  width: 25%;
  font-weight: 900;
  text-align: center;
}

#Sbutton1 {
  width: auto !important;
  height: 7vh !important;
  border: none !important;
  pointer-events: auto !important;
}

#Sbutton1:hover {
  opacity: 0.8 !important;
}

/* 設定スライダーのバー */
#SettingList input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 1vw;
  width: 100%;
  background: #ff8a8a;
  border-radius: 10px;
  border: solid 2px #ffffff;
  pointer-events: none;
}

/* 設定スライダーのつまみ */
#SettingList input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #C2181F;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
}

#SettingList input::-moz-range-thumb {
  background: #C2181F;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
  pointer-events: auto;
}

#SettingList input::-moz-focus-outer {
  border: 0;
}

#SettingList input:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

/* コマンドツール */
#Cbutton1 {}

#Cbutton4 {}

#CommandLayer {
  width: 100%;
  height: 100vh;
  font-family: MainFont;
  display: flex;
  position: absolute;
  z-index: 20;
  background: #f0f0f0;
}

#Command {
  width: 100%;
  height: 100%;
}

#LeftGroup {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}

#CenterGroup {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
}

#RightGroup {
  width: 20%;
  height: 100%;
  float: left;
}

#CommandTop {
  width: 100%;
  height: 8%;
  position: relative;
  background-color: #ffffff;
}

#TopButtonGroup {
  width: 90%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
}

#TopButtonL {
  position: absolute;
  height: 100%;
  left: 0;
}

#TopButtonR {
  position: absolute;
  height: 100%;
  right: 0;
}

#Border1 {
  height: 100%;
  width: 2vw;
  right: -0.5vw;
  cursor: col-resize;
  position: absolute;
  z-index: 21;
}

#Border1Line {
  height: 100%;
  left: 0;
  position: absolute;
  border-left: solid 1px #000000;
}

#Border2 {
  height: 100%;
  width: 2vw;
  left: -0.5vw;
  cursor: col-resize;
  position: absolute;
  z-index: 21;
}

#Border2Line {
  height: 100%;
  right: 0;
  position: absolute;
  border-right: solid 1px #000000;
}

.TextBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#Reference {
  width: 100%;
  height: 92%;
  font-family: CodeFont;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

#Reference::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

#CommandArea {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

#CommandButton {
  position: relative;
  height: 13%;
}

#CommandButtonMiddle {
  position: absolute;
  height: 10vh;
  width: 24vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#CommandStartButton {
  position: absolute;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

#CommandStopButton {
  position: absolute;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

#CommandStartButton:hover {
  opacity: 0.6;
}

#CommandStopButton:hover {
  opacity: 0.6;
}

#Editer {
  position: absolute;
  height: 85%;
  margin: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

#CommandArea textarea {
  resize: none;
  font-family: CodeFont;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.RefrenceCode {
  font-weight: 900;
  padding-top: 1vh;
  padding-left: 3%;
  padding-bottom: 1vh;
  border-bottom: solid 0.1vh #000000;
}

value {
  color: #da171f;
}

.RefrenceGuide {
  font-weight: 400;
  padding-top: 1vh;
  padding-left: 4%;
  padding-bottom: 1vh;
}

.RefrenceExample {
  font-weight: 400;
  padding-top: 1vh;
  padding-left: 6%;
  padding-bottom: 1vh;
}

.Chapter {
  text-align: center;
  font-size: 1.8vw;
  margin-top: 1.8vh;
  margin-bottom: 0.5vh;
  font-family: TitleFont;
  border-bottom: solid 0.3vh #000000;
}

#ConsoleArea {
  position: relative;
  width: 100%;
  height: 100%;
}

#ConsoleTitle {
  position: absolute;
  width: 100%;
  height: 7vh;
  font-family: TitleFont;
  font-size: 2vw;
  border-bottom: solid 0.3vh #000000;
}

#Console {
  position: absolute;
  width: 100%;
  height: 93vh;
  top: 7vh;
  font-family: CodeFont;
  overflow-y: scroll;
}

.Consolevalue {
  font-size: 1.7vh;
  font-family: CodeFontLight;
  padding-left: 4vh;
  line-height: 2vh;
  background: url(image/Right-Arrow.png) no-repeat;
  background-size: 4vh 2vh;
  white-space: nowrap;
}

#Console p {
  margin:0;
  margin-top: 0.5vh;
}

#Console::-webkit-scrollbar {
  height: 2vh;
}

#Console::-webkit-scrollbar-track {
  background: #e6e6e6;
}

#Console::-webkit-scrollbar-thumb {
  background: #8b8b8b;
}

#Console::-webkit-scrollbar:vertical {
  display: none;
}

red {
  color: #ff000a;
}
